html{
    background-color: #e9eef3;
}

html,body{
    height: 100%;
    margin: 0em;
    padding: 0px;
}
body{
    background-color: #fff;
}
.root{
    height: 100%;
}
.App {
    height: 100%;
}
.navbar{
    height: 40px;
}
.footer,.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    font-size: 12px;
    margin: 0px;
}
.footer{
    /* display: flex; */
   position: fixed;
   /* align-items: stretch; */
   left: 0;
   bottom: 0;
   
   background-color:rgb(56, 149, 235);
   color: white;
   /* text-align: center; */
}
.alert p{
    margin: 0;
}
.popup-form{
    font-size: 12px;
    margin-left: 0px;
    padding-left: 0px;
    width: 1000PX;
}
.far{
    width: 80;
    height: 80;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #eee;
}
.pageSector{
    width: 100%;
    overflow: hidden;
    /* padding:10px 20px; */
    position: fixed;
    top: 40px;
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.hidden{
    display:none
}

.selectedRow{
 background-color: #007bff;   
}
#inActive{
    color: red;
    background-color: #B0ADAC;
}
tr{
    height: 40px;
}
#getFile {
  display: none;
}
#getFileLabel {
  display: inline-block;
  background: red;
  height: 100%;
  width: 100%;
}
.show,.dropdown-menu {
    display: block;
    position: absolute;
  }
.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr; 
    height: 500px;
    background-color: #eee;
}
.sidebar{
    background-color: #ddd;
     display: grid; 
}
.tab-links{
    align-self: stretch;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    
}
.content{
    height: 500px;
    display: grid;
    align-items: stretch;
}
.tab-content{
    height: 100%;
    overflow-y: auto;
}

#submit{
    margin: auto;
}

.floating-btn{
    position:fixed;
    font-size: 30px;
    align-items: stretch;
	width:50px;
	height:50px;
	bottom:32px;
	right:40px;
	/* background-color:#0C9; */
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.App > .container{
    min-height: 600px;
    background-color: white;
    box-shadow: 2px 2px 2px  rgba(101, 145, 199, 0.2), -2px 2px 2px  rgba(101, 145, 199, 0.2)
    /* , -12px 0 8px -4px rgba(31, 73, 125, 0.8); */

}