

@media screen and (min-width: 1200px){

    /* .container {
        max-width: 100%;
    } */
    }
    form{
        height:100%
    }
html,body{
    margin: 0em;
    padding: 0px;
    min-width:775px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;
   background-color: #fff;  /* Firefox will set width as auto */
}


.root{
    height: 100%;
}
.App {
  
    height: 100%;
}
.App > .container{
    border:1px solid rgba(0, 0, 255, 0.2);
    box-shadow: 2px 0px 8px  rgba(50, 111, 140, 0.5), -2px 0px 8px  rgba(50, 111, 140, 0.5);
    position: relative;
    min-height: 100vh;
    background-color :#fff;
    /* min-width:775px; */
    /* margin-left : auto;
    margin-right : auto; */
    /* , -12px 0 8px -4px rgba(31, 73, 125, 0.8); */

}
.navbar{
    height: 40px;
    /* background-color: #326F8C; */
    background-color: #0292B7;
}
.footer,.alert{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    font-size: 12px;
    margin: 0px;
}
.footer{
    /* display: flex; */
   position: fixed;
   /* align-items: stretch; */
   left: 0;
   bottom: 0;
   
   position: fixed;
   background-color:#146a86;
   /* background-color:#244a56; */
   color: white;
   /* text-align: center; */
}
.alert p{
    margin: 0;
    color: #FFF;
}
.alert-warning{
    background-color: #cc2838;
}
.alert-success{
    background-color: #59A96A;
    
}
.main-component{
    position: relative;
    height: 100%;
}
.popup-form{
    font-size: 12px;
    margin-left: 0px;
    padding-left: 0px;
    width: 1000PX;
}
.far{
    width: 80;
    height: 80;
}
.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #F8F9FA;
}
.pageSector{
    
    display: flex;
    height: 100px;
    width: 100%;
    overflow: hidden;
    top: 0px;
    /* padding:10px 20px; */
    position: sticky;
    /* background-color: #0292B7; */
    border:1px solid rgba(0, 0, 255, 0.2);
    box-shadow: 2px 0px 2px  rgba(50, 111, 140, 0.5), -2px 2px 2px  rgba(50, 111, 140, 0.5);
    background-color: #326F8C;
    
    /* top: 40px; */
}

.right-side,.left-side{
    width: 50%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-evenly;
    align-items: center ;
    /* grid-template-columns: repeat(auto-fill,1fr); */
    /* grid-template-rows: 1fr; */
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  display: flex;
}

.hidden{
    display:none
}

.selectedRow{
 background-color: rgb(43, 145, 236);   
 color: #fff;
}
#inActive{
    color: red;
    background-color: #B0ADAC;
}
tr{
    height: 40px;
}
#getFile {
  display: none;
}
#getFileLabel {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    height: 95px;
    width: 95px;
}
#fileLabel{
    height: 100%;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
/* .show,.Positiondropdown-menu {
    display: block;
    position: absolute;
    background-color: #0292B7;
    color: #FFF ;

  } */
.wrapper{
    display: grid;
    grid-template-columns: 2fr 10fr; 
    height: 522px;
    background-color: #fff;
     border:1px solid rgba(0, 0, 255, 0.2);
    box-shadow: 2px 0px 5px  rgba(50, 111, 140, 0.5), -2px 2px 5px  rgba(50, 111, 140, 0.5);
}
.sidebar{
    /* background-color: #ddd; */
     display: grid; 
     position:relative;
     /* background-image:linear-gradient(to  top, #2568e582, #2452c13d, #1e3e9e1c, #152a7d1f, #09185e1a) */
    /* 02042020 */
    
    /* background-image: linear-gradient(to right bottom, #0292b7, #188baf, #2285a7, #297e9f, #2e7897, #2d7593, #2d718f, #2c6e8b, #276d8a, #226c89, #1b6b87, #146a86); */
    /* background-image: linear-gradient(to right top, #29d0ff, #2acdfb, #2ccaf7, #2dc8f4, #2ec5f0, #22c1f1, #14bef1, #00baf2, #00b3f7, #00acfb, #00a4fe, #009bff);     */
    /* background-image: linear-gradient(to right bottom, #29d0ff, #2acdfb, #2ccaf7, #2dc8f4, #2ec5f0, #22c1f1, #14bef1, #00baf2, #00b3f7, #00acfb, #00a4fe, #009bff); */
    background-image: linear-gradient(to right bottom, #29d0ff, #23c3f1, #1cb6e2, #15a9d4, #0d9cc6, #0794bf, #038db9, #0085b2, #0080b0, #007aaf, #0075ac, #006faa);
}
/* .sidebar::before{
    content:'';
    position:absolute;
    top:0;

    left:0;
    right:0;
    bottom:0;
    background-image:linear-gradient(to  top, #2568e582, #2452c13d, #1e3e9e1c, #152a7d1f, #09185e1a)
} */
.sidebar button:hover{
    background-color:#176087;
}
.tab-links{
    align-self: stretch;
    color: #fff;
    font-size: 1rem;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    
}

.content{
    height: 500px;
    display: grid;
    align-items: stretch;
}
tr{
    font-size: 13px;
    height: 20px;
}
.tab-content{
    padding:10px;
    height: 100%;
    overflow-y: auto;
}

#submit{
    margin: auto;
}

.floating-btn{
    position:fixed;

    align-items: stretch;
	width:50px;
	height:50px;
	bottom:40px;
	right:25px;
	/* background-color:#0C9; */
	color:#FFF;
	border-radius:50px;

	box-shadow: 2px 2px 3px #999;
}
.btn-2{
    bottom:92px;
}


.register-form{
    width: 500px;
    height: 300px;
    padding: 2rem 2rem;
    margin: auto;
    position: absolute;
    top: 0;
left: 0;
bottom: 40px;
right: 0;
    border:1px solid rgba(0, 0, 255, 0.2);
    box-shadow: 2px 0px 8px  rgba(50, 111, 140, 0.5), -2px 0px 8px  rgba(50, 111, 140, 0.5);
}
#permisson-wrapper{
  display: flex;
  height: calc(100vh -40px);
  padding: 10% 5%;
  width: 80%;
}
.permission-left{
  height: 100%;
  width: 50%;
}
.permission-right{
  height: 100%;
  width: 50%;
  padding-left: 15%;
}
.permission-right button{
  align-self: flex-end;
  margin-left: 100%;
}